.header {
    height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    background-color: var(--bg);
    color: var(--text);
  
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      font-size: 20px;
      align-items: center;
  
      img {
        height: 24px;
        margin-right: 10px;
      }
    }
}
